body {
    font-family: "Happy Monkey";
    text-align: center;
    background: linear-gradient(
                #030219 0%,
                #6a316e 50%,
                #0a0b3a 20%,
                #1f1654 40%,
                #6a316e 50%,
                #0a0b3a 20%,
                #1f1654 40%,
                #6a316e 50%,
                #030219 100%
);
    color: whitesmoke;
}
#image {
    width: 250px;
    border-radius: 50%;
    border: solid 6px #a2d2ff
}
h1, h2{
    text-shadow: 0px 0px 5px black;
}
h4{ 
    text-shadow: 0px 0px 1px black;
}
#bday-age{
    background: purple;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0 10px 0; 
}
#bday-date{
    background: purple;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

.header{
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.gift-title{
    margin: 50px 0 0 0 ;
}
.gift-hint{
    margin: 0 0 10px 0 ;
}
.gift-img{
    background-image: url(images/giftbox.avif);
    background-size: cover;
    margin: 0px auto; /* Căn giữa ngang và tạo khoảng cách trên dưới */
    width: 450px;
    height: 400px; /* Để height tự động theo tỉ lệ ảnh */
    border: 5px solid black;
    border-radius: 10px;
}
#johnnny:hover{
    background-image: url(images/johnnysilverhand.gif);
    background-image: cover;
    background-position: center ;
}


#waving:hover{
    background-image: url(images/waving.gif);
    background-size: cover;
    background-position: center;
}

#oneword:hover{
    background-image: url(images/idrive.gif);
    background-size: cover;
    background-position: center;

}
#badass:hover{
    background-image: url(images/batman.gif);
    background-size: cover;
    background-position: center;
}

#cheers{
    height: 200px;
    background-position: center; 
}

#cheers:hover{
    background-image: url(images/cheers.gif);
    background-size: cover;
    background-position: center;
}

footer{
    font-style: italic;
    margin: 30px 0 20px 0;
    font-size: 12px;
}
a{
    color: purple;
}